#page {
	height: 100%;
	background-color: white;
	display: grid;
	grid-template-areas:
		'leftcol leftdragbar tabs tabs tabs';
    grid-template-columns: 2fr 6px 9fr;
}

/*****************************/

#leftcol {
	background-color: ghostwhite;
	overflow: auto;
	grid-area: leftcol;
}

#leftdragbar {
	background-color: dodgerblue;
	grid-area: leftdragbar;
	cursor: ew-resize;
}

#tabs {
	background-color: white;
	overflow: auto;
	grid-area: tabs;
}

#tabpages {
	background-color: white;
	overflow: auto;
	grid-area: tabpages;
}

#leftcol button{
    font-size: 16px;
    padding-bottom: 10px;
    border: none;
}

#leftcol button.active, #leftcol button:hover {
    font-size: 18px;
    border: none;
    font-weight: bold;
    color: black;
}
